// contact section
.contact-section {
    background-image: linear-gradient(rgba($primary, .9), rgba($primary, .9) ),
    url('../img/contact-bg.png') ;
    background-position: center;
    background-size: cover;
    color: #fff;

    &.margin-bot {
        margin-bottom: 30px;
    }
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        padding: 20px 15px ;
        min-height: 168px;
    }

    &__main {
        width: 70%;

        h2 {
            font-size: 39px;
            font-weight: 500;
        }
        p {
            font-size: 14px;
        }
        @include mediaMax(850px) {
            width: calc(100% - 200px);
            h2 {
                font-size: 32px;
            }
        }
        @include mediaMax(700px) {
            width: 100%;
            margin-bottom: 15px;
            h2 {
                font-size: 26px;
                margin-bottom: 5px;
            }
        }
    }

    &__link {
        background-color: #fff;
        color: $primary;
        line-height: 44px;
        padding: 0 22px;
        font-size: 14px;
        font-weight: 500;
        transition: .8s;
        &:hover {
            background-color: #1A1A1A;
            color: #fff;
        }
        @include mediaMax(700px) {
            line-height: 40px;
        }
    }

}