@font-face {
    font-family: 'helvetica-caps';
    src: url('../fonts/helvetica-neue-lt-geo-55-roman-caps.ttf');
}


/*  reset  */ 

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit; 
}

html {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-size: 62.5%; 
    -webkit-text-size-adjust: 100%;
}

body {
    font-family: "helvetica-caps", sans-serif;
    font-weight: 400;
    line-height: 1.3;
    color: #111;
    background: #fff;
}
main {
    display: block;
}
ul { list-style: none;} 
a { 
    text-decoration: none; 
    color: inherit;
}
button {
    border: none;
    background: transparent;
    outline: none;
    cursor: pointer; 
    font-family: "helvetica-caps", sans-serif;
}

input,textarea { 
    outline: none;
}

h1,h2,h3,h4 {
    font-weight: normal;
}

img {
    /* display: block; */
    height: auto;
    max-width: 100%;
}

.img-cover {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
}
textarea {
    resize: vertical;
}

/* -----  Text Selection  -------- */
::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}
::selection {
    background: #b3d4fc;
    text-shadow: none;
}
/* ------ Scroll Bar   ----*/

/* width */
::-webkit-scrollbar {
    width: 14px;
    height: 8px; 
    background-color: rgb(207, 206, 206);
}
  
/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 5px rgb(148, 148, 148);
            box-shadow: inset 0 0 5px rgb(148, 148, 148); 
}
   
/* Handle */
::-webkit-scrollbar-thumb {
    background: #111; 
}
  
/* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: black; 
}
/* -----  End scroll bar   ----*/

/* input type number - arrows : Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}


/* util */
:root {
    --body-bg: ;
    --clr-primary: ; 
    --clr-secondary:  ;
    --clr-gray: ;
}

.container {
    max-width: 138rem ;
    margin: 0 auto;
    padding: 0 15px;
}




/* header */
.header {
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    -webkit-transition: .6s;
    -o-transition: .6s;
    transition: .6s;
}
.nav {
    width: 100%;
}
.header.sticky .nav {
    -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.15);
            box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.15);
}
.header.sticky .nav .container {
    height: 80px;
}

.nav .container {
    height: 90px;
    -webkit-transition: .6s;
    -o-transition: .6s;
    transition: .6s;
    height: 90px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.nav .container.main {
    max-width: 1720px;
}

.brand-logo img{
    display: block;
    height: 32px;
    width: auto;
}


.navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: auto;
    height: 100%;
}
.navigation > *+* {
    margin-left: 25px;
}
.navigation__item {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
}
.navigation__item.active::after,
.navigation__item:hover::after {
    -webkit-transform: scaleY(1);
        -ms-transform: scaleY(1);
            transform: scaleY(1);
}
.navigation__item::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #000;
    -webkit-transform-origin: top ;
        -ms-transform-origin: top ;
            transform-origin: top ;
    -webkit-transform: scaleY(0);
        -ms-transform: scaleY(0);
            transform: scaleY(0);
    -webkit-transition: .7s;
    -o-transition: .7s;
    transition: .7s;
}
.navigation__link {
    font-size: 12px;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #000;
}

.nav__right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 30px;
}

.nav__right .line {
    height: 1px;
    width: 60px;
    background-color: #B5B5B5;
}
.category-link {
    margin-left: 30px;
    -webkit-transition: .7s;
    -o-transition: .7s;
    transition: .7s;
    position: relative;
}
.category-link span {
    font-size: 12px;
    position: absolute;
    top: calc( 100% + 4px);
    left: -15px;
    display: none;
}
.category-link.active span {
    display: block;
}

.category-link:hover,
.nav__search-box:hover {
    background-color: rgb(243, 243, 243);
}
.category-link  img{
    height: 22px;
    width: auto;
    display: block;
}


.nav__search-box {
    -webkit-transition: .7s;
    -o-transition: .7s;
    transition: .7s;
    margin-left: 25px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 22px;
}   
.nav__search-box input {
    line-height: 22px;
    padding: 0 ;
    border: none;
    border-bottom: 1px solid #000;
    width: 0;
    -webkit-transition: .7s;
    -o-transition: .7s;
    transition: .7s;
    font-family: inherit;
}
.nav__search-box input.show {
    width: 140px;
    padding: 0 5px;
    margin-right: 10px;
}

.nav__search-btn svg {
    fill: #000;
    height: 17px;
    width: auto;
}

/* dropdown menu icon */
.menu {
	position: relative;
	display:  none;
	width: 34px;
    height: 28px;
    background-color:  #000;
    border: 1px solid #000;
    border-radius: 1px;
    -webkit-transition: .8s;
    -o-transition: .8s;
    transition: .8s;
}
.menu:hover {
    background-color: #fff;
}
.menu:hover span,
.menu:hover span:before,
.menu:hover span:after {
    background-color: #000;
    -webkit-transition: .4s;
    -o-transition: .4s;
    transition: .4s;
}
.menu span {
    margin: 0 auto;
    pointer-events: none;
}
.menu span:before, .menu span:after {
	position: absolute;
	content: '';
}
.menu span,
.menu span:before,
.menu span:after {
	width: 24px;
	height: 2px;
	background-color: #fff;
    display: block;
    -webkit-transition: .4s;
    -o-transition: .4s;
    transition: .4s;
}
.menu span:before {
    margin-top: -8px;
}
.menu span:after {
    margin-top: 8px;
}

/* --- btn --- */
.menu-icon span {
	-webkit-transition-duration: 0s; -o-transition-duration: 0s; transition-duration: 0s;
    -webkit-transition-delay: 0.2s; -o-transition-delay: 0.2s; transition-delay: 0.2s;
    -webkit-transition-delay: 0s;
         -o-transition-delay: 0s;
            transition-delay: 0s;
}
.menu-icon.close-i span {
	background-color: rgba(0,0,0,0.0);
	-webkit-transition-delay: 0.2s; -o-transition-delay: 0.2s; transition-delay: 0.2s;
}
.menu-icon span:before {
	-webkit-transition-property: margin, -webkit-transform; transition-property: margin, -webkit-transform; -o-transition-property: margin, transform; transition-property: margin, transform; transition-property: margin, transform, -webkit-transform;
	-webkit-transition-duration: 0.2s; -o-transition-duration: 0.2s; transition-duration: 0.2s;
	-webkit-transition-delay: 0.2s, 0s; -o-transition-delay: 0.2s, 0s; transition-delay: 0.2s, 0s;
}
.menu-icon.close-i span:before {
	margin-top: 0;
	-webkit-transform: rotate(45deg); -ms-transform: rotate(45deg); transform: rotate(45deg);
	-webkit-transition-delay: 0s, 0.2s; -o-transition-delay: 0s, 0.2s; transition-delay: 0s, 0.2s;
}
.menu-icon span:after {
	-webkit-transition-property: margin, -webkit-transform; transition-property: margin, -webkit-transform; -o-transition-property: margin, transform; transition-property: margin, transform; transition-property: margin, transform, -webkit-transform;
	-webkit-transition-duration: 0.2s; -o-transition-duration: 0.2s; transition-duration: 0.2s;
	-webkit-transition-delay: 0.2s, 0s; -o-transition-delay: 0.2s, 0s; transition-delay: 0.2s, 0s;
}
.menu-icon.close-i span:after {
	margin-top: 0;
	-webkit-transform: rotate(-45deg); -ms-transform: rotate(-45deg); transform: rotate(-45deg);
	-webkit-transition-delay: 0s, 0.2s; -o-transition-delay: 0s, 0.2s; transition-delay: 0s, 0.2s;
}

/* end of dropdown menu icon */



/* section 1 -  hero */
#hero {
    margin-top: 90px;
    width: 100%;
}

.hero__slider {
    position: relative;
    width: calc(100% - 100px);
}
#hero__slider-one,
#hero__slider-two {
    max-height: 0;
    opacity: 0;
    visibility: hidden;

}
#hero__slider-one.shown,
#hero__slider-two.shown {
    max-height: 1800px;
    visibility: visible;
    opacity: 1;
    -webkit-animation: appear .8s;
            animation: appear .8s;
}
@-webkit-keyframes appear {
    0% {
        opacity: .5;
    }
    100% {
        opacity: 1;
    }
}
@keyframes appear {
    0% {
        opacity: .5;
    }
    100% {
        opacity: 1;
    }
}
.hero__slider-slide {
    position: relative;
}
.hero__slider-slide img {
   height: calc(100vh - 180px);
   width: 100%;
   -o-object-fit: cover;
      object-fit: cover;
   display: block;
}

.hero__slide-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.48);
    color: #fff;
    padding:0  110px;
}

.hero__slide-content h2 {
    font-size: 44px;
    font-weight: bold;
    max-width: 420px;
    margin: 260px 0 40px;
}
.hero__slide-content a {
    display: block;
    text-align: center;
    line-height: 46px;
    width: 163px;
    border-radius: 33px;
    background-color: transparent;
    border: 1px solid #fff;
    font-size: 16px;
    font-weight: bold;
    -webkit-transition:.9s;
    -o-transition:.9s;
    transition:.9s;
}
.hero__slide-content a:hover {
    background-color: #fff;
    border: 1px solid #000;
    color: #000;
}

#hero__slider-two .hero__slide-content h2  {
    position: relative;
    margin-top: 0;
    margin-bottom: 20px;
    max-width: unset;
    font-size: 39px;

}
#hero__slider-two .hero__slide-content h2 span {
    position: absolute;
    top: -3px;
    left: -23px;
    font-size: 18px;
}

#hero__slider-two .hero__slide-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0;
    background-color: rgba(0, 0, 0, 0.35);
}
#hero__slider-two  .hero__slide-content a {
    line-height: 40px;
}


/* slider end */


.hero__slider-counter {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    left: calc(100% - 100px);
    height: 180px;
    width: 86px;
    background-color: #000;
    color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 20px;
}

.count-wrap-one,
.count-wrap-two {
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.count-wrap-one.shown,
.count-wrap-two.shown {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.hero__slider-counter span:first-of-type {
    border-bottom: 1px solid #fff;
    text-align: left;
}
.hero__slider-counter span {
    width: 27px;
    text-align: right;
    padding: 5px 0;
}
.hero__bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 90px;
    width: 24%;
    background-color: #000;
}
.hero__bottom  button {
    margin-left: 15%;
    color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 12px;
    padding-right: 10px;
}
.hero__bottom  button img {
    margin-right: 10px;
    height: 42px;
    width: auto;
    display: block;
    -webkit-animation: bounce 1.2s infinite;
            animation: bounce 1.2s infinite;
}

@-webkit-keyframes bounce {
    0% {
        -webkit-transform: translateY(-4px);
                transform: translateY(-4px);
    }
    50% {
        -webkit-transform: translateY(0px);
                transform: translateY(0px);
    }
    100% {
        -webkit-transform: translateY(-5px);
                transform: translateY(-5px);
    }
}

@keyframes bounce {
    0% {
        -webkit-transform: translateY(-4px);
                transform: translateY(-4px);
    }
    50% {
        -webkit-transform: translateY(0px);
                transform: translateY(0px);
    }
    100% {
        -webkit-transform: translateY(-5px);
                transform: translateY(-5px);
    }
}


/* section 2 -  partners */
#partners {
    padding: 30px 0 45px;
    background-color: #fff;
    scroll-margin: 80px;
}

.partners__title {
    font-size: 21px;
    font-weight:bold;
    margin-bottom: 30px;
    text-align: center;
}

.partners__grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 25px 1fr 25px 1fr 25px 1fr 25px 1fr;
    grid-template-columns: repeat(5, 1fr);
    gap: 25px;
    margin-bottom: 30px;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
}
.partners__grid.half {
    margin-bottom: 0px;
}
.partners__grid.half .partners__link:nth-of-type(n+6) {
    max-height: 0px;
    overflow: hidden;
    -webkit-transition: .5s ease;
    -o-transition: .5s ease;
    transition: .5s ease;
    opacity: 0;
}


.partners__link {
    height: 140px;
    border-radius: 19px;
    overflow: hidden;
    -webkit-transition: .9s;
    -o-transition: .9s;
    transition: .9s;
    max-height: 200px;
    position: relative;
}
.partners__link::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.06);
}
.partners__link:hover {
    -webkit-box-shadow: 0 14px 20px rgba(0, 0, 0, 0.4);
            box-shadow: 0 14px 20px rgba(0, 0, 0, 0.4);
}
.partners__link:hover img {
    -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
            transform: scale(1.05);
}
.partners__link img {
    display: block;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    -webkit-transition: .9s;
    -o-transition: .9s;
    transition: .9s;
}

.partners__btn {
    background-color: #000;
    color: #fff;
    display: block;
    width: 100%;
    border-radius: 19px;
    line-height: 64px;
    -webkit-transition: .9s;
    -o-transition: .9s;
    transition: .9s;
    font-size: 16px;
    font-weight:bold;
}
.partners__btn:hover {  
    background-color: #333;
}


/* section 3 -  tained glass */
#tained-glass  {
    padding: 34px 0;
    background-color: #F9F9F9;
}

/* card slider style for all card sliders */
.card__title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 30px;
    font-size: 16px;
    font-weight: bold;
}
.card__title .svg{
    background-color: #000;
    width: 45px;
    height: 45px;
    border-radius: 8px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-right: 10px;
}
.card__title .svg svg{
    fill: #fff;
}


.slide-card__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.slide-card__wrapper-text {
    width: 235px;
}
.slide-card__wrapper-text p {
    font-size: 12px;
    color: #808080;
    max-width: 245px;
}
.slide-card__wrapper-text a {
    margin-top: 30px;
    display: inline-block;
    text-align: center;
    border-radius: 22px;
    line-height: 38px;
    width: 140px;
    border: 1px solid transparent;
    background-color: #000000;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    -webkit-transition: .7s;
    -o-transition: .7s;
    transition: .7s;
}
.slide-card__wrapper-text a:hover {
    border: 1px solid #000000;
    background-color: #fff;
    color: #000;
}

.card-slider {
    position: relative;
    width: calc(100% - 275px);
}

.card__slide {
    border-radius: 12px;
    height: 280px;
    overflow: hidden;
    position: relative;

}
.card__slide img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
}

.card__slide-content {
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.card__slide:hover .card__slide-content {
    opacity: 1;
    visibility: visible;
}
.card__slide-content button{
    background-color: #fff;
    width: 42px;
    height: 42px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-radius: 5px;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
    border: 1px solid #fff;
}
.card__slide-content button img {
    width: 20px;
    height: auto;
}
.card__slide-content button:hover {
    -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
            transform: scale(1.05);
    -webkit-box-shadow: 0 0 10px rgba(255, 255, 255, 0.377);
            box-shadow: 0 0 10px rgba(255, 255, 255, 0.377);
}



/* section 4 - railings */
#railings {
    padding: 45px 0 40px;
}


/* section 5 - new catalogue  */

#new-catalogue {
    padding: 10px 0 80px;
}
#new-catalogue .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.new-catalogue__left {
    width: 55%;
    position: relative;
}
.new-catalogue__left::after {
    content: "";
    position: absolute;
    top: calc(50% + 20px);
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    left: 0;
    width: 100%;
    height: 210px;
    background-color: #000;
    z-index: -1;
}
.catalogue-bg {
    position: absolute;
    top: 0;
    left: 12%;
    z-index: -1;
}
.new-catalogue__left-img {
    max-width: 460px;
    max-height: 500px;
    margin: 40px auto 0;
}
.new-catalogue__left-img img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    display: block;
    border-radius: 21px;
}


.new-catalogue__right {
    width: 40%;
}
.new-catalogue__right h4 {
    margin-top: 32px;
    font-size: 13px;
    color: #787878;
}

.new-catalogue__right h2 {
    margin: 15px 0 35px;
    font-size: 44px;
    font-weight: bold;
    max-width: 260px;
    line-height: 56px;
}
.new-catalogue__right p {
    margin-bottom: 20px;
    color: #949494;
    font-size: 12px;
}

.new-catalogue__link {
    margin-top: 50px;
    padding: 0 10px 0 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    background-color: #000;
    color: #fff;
    border: 1px solid transparent;
    width: 250px;
    line-height: 56px;
    border-radius: 28px;
    font-size: 13px;
    font-weight: bold;
    -webkit-transition: .8s;
    -o-transition: .8s;
    transition: .8s;
}

.new-catalogue__link:hover {
    background-color: #fff;
    color: #000;
    border: 1px solid #000;
}


/* section 6 - showers  */
#showers {
    padding: 70px 0 60px;
    background-color: #F9F9F9;
}

#showers .container {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.showers__left {
    min-width: 230px;
    width: 25%;
    position: relative;
}
.showers-bg {
    position: absolute;
    bottom: 0;
    left: calc(100% - 65px);
}
.showers__left h2 {
    font-size: 33px;
    font-weight: bold;
    margin-top: 25px;
    max-width: 200px;
}

.showers__left p {
    margin-top: 15px;
    font-size: 13px;
    color: #545454;
}

.showers__slider {
    width: 75%;
}

.showers__slide {
    position: relative;
    margin: 24px 0 28px;
    height: 390px;
    -webkit-transition: .6s;
    -o-transition: .6s;
    transition: .6s;
}
.showers__slide:hover {
    -webkit-box-shadow: 0 0 16px rgba(0, 0, 0, 0.16);
            box-shadow: 0 0 16px rgba(0, 0, 0, 0.16);
}
.showers__slide:hover .showers__slide-overlay {
    visibility: visible;
    opacity: 1;
}
.showers__slide img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    display: block;
    border-radius: 12px;
}


.showers__slide-overlay {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.42);
    border-radius: 12px;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.showers__slide-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 50px;
    width: 50px;
    border-radius: 5px;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
    background-color: #fff;
    border: 1px solid #fff;

}
.showers__slide-link img {
    width: 22px;
    height: auto;
}
.showers__slide-link:hover {
    -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
            transform: scale(1.05);
    -webkit-box-shadow: 0 0 10px rgba(255, 255, 255, 0.377);
            box-shadow: 0 0 10px rgba(255, 255, 255, 0.377);
}


/* section 7 -  mirrors  */
#mirrors {
    padding: 60px 0 40px;
}


/* section 8 - choose-video   */
#choose-video {
    padding: 40px 0;
}
#choose-video .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.choose-video__left {
    width: 53%;
}
.choose-video__left  h4 {
    font-size: 12px;
    color: #787878;
    margin: 5px 0 20px;
}
.choose-video__left  h2 {
    font-size: 44px;
    font-weight: bold;
    max-width: 420px;
}
.choose-video__left  p {
    margin: 30px 0 20px;
    font-size: 12px;
}

.choose-video__btn-one {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 12px;
}   
.choose-video__btn-one:hover span {
    background-color: #fff;
    border: 1px solid #000;
}
.choose-video__btn-one:hover span svg {
    fill: #000;
}
.choose-video__btn-one span {
    width: 42px;
    height: 42px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: #000;
    border: 1px solid transparent;
    border-radius: 50%;
    margin-right: 10px;
    -webkit-transition: .6s;
    -o-transition: .6s;
    transition: .6s;
}
.choose-video__btn-one span  svg {
    fill: #fff;
    -webkit-transition: .6s;
    -o-transition: .6s;
    transition: .6s;
    margin-left: 3px;
}

.choose-video__right {
    width: 40%;
    position: relative;
    border-radius: 30px;
    overflow: hidden;
}
.choose-video__right img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
}
.choose-video__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.22);
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
}
.choose-video__overlay:hover {
    background-color: rgba(0, 0, 0, 0.52);
}
.choose-video__btn-two {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate( -50%, -50%);
        -ms-transform: translate( -50%, -50%);
            transform: translate( -50%, -50%);
}
.choose-video__btn-two:hover #video-circle {
    fill: rgb(141, 132, 120);
}
.choose-video__btn-two:hover svg {
    fill: #fff;
}
.choose-video__btn-two svg {
    fill: #000;
    -webkit-transition: .8s;
    -o-transition: .8s;
    transition: .8s;
}
#video-circle {
    fill: #fff;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
}

/* video modal */
#video-modal {
    position: fixed;
    visibility: hidden;
    opacity: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(36, 36, 36, 0.8);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    z-index: 200;
    -webkit-transition: .7s;
    -o-transition: .7s;
    transition: .7s;
}
#video-modal.visible {
    visibility: visible;
    opacity: 1;
}
.video-modal__wrap {
    position: relative;
}
.video-modal-close {
    position: absolute;
    top: -17px;
    right: -17px;
    height: 34px;
    width: 34px;
    background-color: #000;
    border-radius: 50%;
    -webkit-transition: .6s;
    -o-transition: .6s;
    transition: .6s;
}
.video-modal-close:hover {
    background-color: red;
}
.video-modal__wrap video {
    width: auto;
    height: 90vh;
}


/* section 9 -  naves */
#naves {
    padding: 40px 0;
}


/* section 10 -    */
#find-us {
    padding: 30px 0 50px;
}
#find-us .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.find-us__galery {
    width: 58%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.find-us__col {
    width: 50%;
    max-height: 710px;
    overflow: hidden;
}

.find-us__col:nth-of-type(1) .find-us-img  {
    height: 220px;
}
.find-us__col:nth-of-type(2) img:first-of-type {
    height: 240px;
}
.find-us__col:nth-of-type(2) img {
    height: 470px;
}
.find-us__top {
    padding: 50px 45px 35px;
    background-color: #000;
    color: #fff;
}
.find-us__top h2 {
    font-size: 34px;
    font-weight: bold;
    line-height: 1.5;
    margin-top: 85px;
}
.find-us__top h4 {
    margin-top: 5px;
    font-size: 25px;
    font-weight: bold;
}
.find-us__top p {
    margin-top: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 13px;
    font-weight: bold;
    max-width: 250px;
}
.find-us__top p img {
    margin-top: -5px;
    margin-right: 10px;
}
.find-us-img {
    width: 100%;
    display: block;
    -o-object-fit: cover;
       object-fit: cover;
}

.find-us-img.left {
    padding-left: 15px;
}
.find-us-img.top {
    padding-top: 15px;
}

.find-us__right {
    width: 36%;
}

.find-us__right h4 {
    margin-top: 150px;
    font-size:13px ;
    color: #787878;
}
.find-us__right h2 {
    margin: 15px 0 30px;
    font-size: 50px ;
    font-weight: bold;
}

.find-us__right p {
    font-size: 12px;
    color: #949494;
    margin-bottom: 30px;
}



/* footer */
#footer {
    background-color: #000;
    color: #fff;
    padding: 45px 0;
}

#footer .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.foooter__logo img{
    height: 40px;
    width: auto;
}

.footer__paragph {
    font-size: 16px;
    margin-top: 45px;
    max-width: 260px;
    line-height: 30px;
}

.footer__heading {
    margin-bottom: 25px;
    font-size: 17px;
    font-weight: bold;
}


.footer__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  
}
.footer__nav a {
    font-size: 14px;
    position: relative;
    margin: 0 0 24px 0 ;
    color: #fff;
}
.footer__nav a:hover::after {
    -webkit-transform: scaleX(1);
        -ms-transform: scaleX(1);
            transform: scaleX(1);
}
.footer__nav a::after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 30%;
    height: 3px;
    background-color: #fff;
    -webkit-transform: scaleX(0);
        -ms-transform: scaleX(0);
            transform: scaleX(0);
    -webkit-transform-origin: left;
        -ms-transform-origin: left;
            transform-origin: left;
    -webkit-transition: .6s;
    -o-transition: .6s;
    transition: .6s;
}

.footer__p {
    font-size: 18px;
    line-height: 30px;
    max-width: 220px;
    margin-bottom: 20px;
}

.footer-map {
    width: 360px;
    height: 240px;
    border-radius: 16px;
    overflow: hidden;
}
.footer-map iframe {
    width: 100%;
    height: 100%;
}


            /*  ---  products.html   --*/


/* section  1 */
#catalogue-main {
    margin-top: 90px;
    padding: 30px 0 50px;
}

.catalogue-hero__title {
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: bold;
}

.catalogue__tabs {
    text-align: center;
}
.catalogue__tab {
    font-size: 12px;
    font-weight: bold;
    margin: 0 1px;
    padding: 0 30px;
    line-height: 30px;
    background-color: #fff;
    color: #000;
    border-radius: 15px;
    -webkit-transition: .7s;
    -o-transition: .7s;
    transition: .7s;

}
.catalogue__tab:hover,
.catalogue__tab.active {
    background-color: #000;
    color: #fff;
}
.catalogue__wrapper {
    margin-top: 35px;
}

/* img modal  (for index too)*/
#catalog-modal {
    position: fixed;
    visibility: hidden;
    opacity: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(24, 24, 24, 0.8);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    z-index: 200;
    -webkit-transition: .7s;
    -o-transition: .7s;
    transition: .7s;

}
#catalog-modal.visible {
    visibility: visible;
    opacity: 1;
}
#catalog-modal .modal-content {
    max-width: 90%;
    max-height: 80%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
#catalog-modal .modal-content img {
    width: 100%;
    height: auto;
    -o-object-fit: contain;
       object-fit: contain;
}
#catalog-modal .close {
    position: absolute;
    top: 25px;
    right: 25px;
    font-size: 28px;
    font-weight: bold;
    color: white;
    cursor: pointer;
    text-align: center;
}
/* end img modal */


.catalogue__grid {
    display: none;
    -ms-grid-columns: 1fr 13px 1fr 13px 1fr 13px 1fr;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 15px;
    -webkit-column-gap: 13px;
       -moz-column-gap: 13px;
            column-gap: 13px;
}
.catalogue__grid.shown {
    display: -ms-grid;
    display: grid;
    -webkit-animation:  slideup .3s linear;
            animation:  slideup .3s linear;
}
@-webkit-keyframes slideup {
    0% {-webkit-transform: translateY(10px);transform: translateY(10px);}
    50% {-webkit-transform: translateY(20px);transform: translateY(20px);}
    100% {-webkit-transform: translateY(0px);transform: translateY(0px);}
}
@keyframes slideup {
    0% {-webkit-transform: translateY(10px);transform: translateY(10px);}
    50% {-webkit-transform: translateY(20px);transform: translateY(20px);}
    100% {-webkit-transform: translateY(0px);transform: translateY(0px);}
}
.catalogue__item {
    height: 265px;
    position: relative;
    cursor: pointer;
}
.catalogue__item img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    display: block;
}

.catalogue__item:hover .catalogue__content {
    opacity: 1;
}
.catalogue__content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.61);
    color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    opacity: 0;
    -webkit-transition: .7s;
    -o-transition: .7s;
    transition: .7s;
    pointer-events: none;
}
.catalogue__content h3 {
    font-size: 15px;
    font-weight: bold;
}
.catalogue__content p {
    font-size: 13px;
    text-decoration: underline;
    margin-top: 5px;
}



            /*  ---  contact.html --- */

/* section - 1  multypage-hero*/
#multypage-hero {
    margin-top: 90px;
}
.multypage-hero__title {
    padding: 30px 0 12px;
    font-size: 30px;
    font-weight: bold;
    position: relative;
}
.multypage-hero__title::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 150px;
    height: 2px;
    background-color: #000;
}

/* section  2 main*/
#contact-main {
    padding: 5px 0 60px;
}
#contact-main .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}
.contact-main__left {
    width: 45%;
}
.contact-main__left p {
    margin: 30px 0 25px;
    font-size: 12px;
    display: none;
}

.contact__icon-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 22px;
}
.contact__icon-box h4 {
    margin-left: 10px;
    font-size: 12px;
    max-width: 200px;
    line-height: 1.4;
}
.icon-box {
    background-color: #000;
    width: 47px;
    height: 47px;
    border-radius: 11px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}


.contact__form {
    width: 47%;
}
.contact__form  input,
.contact__form textarea {
    display: block;
    width: 100%;
    font-size: 12px;
    font-family: inherit;
    color: #000;
    border: none;
    border-bottom: 1px solid #A6ADBC;
}
.contact__form  input::-webkit-input-placeholder, .contact__form textarea::-webkit-input-placeholder {
    color: #A6ADBC;
}
.contact__form  input::-moz-placeholder, .contact__form textarea::-moz-placeholder {
    color: #A6ADBC;
}
.contact__form  input:-ms-input-placeholder, .contact__form textarea:-ms-input-placeholder {
    color: #A6ADBC;
}
.contact__form  input::-ms-input-placeholder, .contact__form textarea::-ms-input-placeholder {
    color: #A6ADBC;
}
.contact__form  input::placeholder,
.contact__form textarea::placeholder {
    color: #A6ADBC;
}
.contact__form  input:focus,
.contact__form textarea:focus {
    border-bottom: 1px solid #000;
}
.contact__form  input:focus::-webkit-input-placeholder, .contact__form textarea:focus::-webkit-input-placeholder {
    color: #000;
}
.contact__form  input:focus::-moz-placeholder, .contact__form textarea:focus::-moz-placeholder {
    color: #000;
}
.contact__form  input:focus:-ms-input-placeholder, .contact__form textarea:focus:-ms-input-placeholder {
    color: #000;
}
.contact__form  input:focus::-ms-input-placeholder, .contact__form textarea:focus::-ms-input-placeholder {
    color: #000;
}
.contact__form  input:focus::placeholder,
.contact__form textarea:focus::placeholder {
    color: #000;
}
.contact__form  input {
    margin-bottom: 15px;
    padding: 0 5px;
    line-height: 30px;
}

.contact__form textarea {
    padding: 8px 5px;
    height: 170px;
}

.contact-form__btn {
    text-align: center;
    width: 100%;
    line-height: 40px;
    font-size: 13px;
    background-color: #000;
    color: #fff;
    margin-top: 30px;
    -webkit-transition: .7s;
    -o-transition: .7s;
    transition: .7s;
    border-radius: 3px;
}
.contact-form__btn:hover {
    background-color: #333;
}

            /*  ---  about.html --- */

/* section 1 hero multypage */

/* section 2 main */
#about-us {
    padding: 30px 0 50px;
}

.about-us__p {
    font-size: 13px;
    line-height: 1.5;
}
.about-us__p a {
    color: blue;
    -webkit-transition: .4s;
    -o-transition: .4s;
    transition: .4s;
}
.about-us__p a:hover {
    background-color: rgb(138, 138, 138);
    color: #fff;
}


.about-us__info-line {
    margin: 25px 0 30px;
    background-color: #F9F9F9;
    padding: 25px 0;
}

.about-us__info-line .container{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.about-us__info-line .contact__icon-box {
    margin-bottom: 0;
}



            /*  ---  .html --- */

/* section */

/* section */






/*  -----------   Responsive   ---------- */



/* header */
@media (max-width: 1000px) {
    #hero {
        margin-top: 80px;
    }
    .nav .container{
        height: 80px;
    }
    .menu  {
        display: block;
        margin-left: auto;
    }
    .navigation {
       position: absolute;
       top: 100%;
       left: 0;
       width: 100%;
       height: auto;
       border-top: 1px solid rgb(216, 216, 216);
       background-color: #fff;
       -webkit-box-orient: vertical;
       -webkit-box-direction: normal;
           -ms-flex-direction: column;
               flex-direction: column;
       -webkit-box-pack: end;
           -ms-flex-pack: end;
               justify-content: flex-end;
       -webkit-box-align: start;
           -ms-flex-align: start;
               align-items: flex-start;
       padding: 15px;
       -webkit-transform: scaleY(0);
           -ms-transform: scaleY(0);
               transform: scaleY(0);
       -webkit-transform-origin: top;
           -ms-transform-origin: top;
               transform-origin: top;
       -webkit-transition: .4s;
       -o-transition: .4s;
       transition: .4s;
       -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.15);
               box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.15);
    }
    .navigation.shown {
        -webkit-transform: scaleY(1);
            -ms-transform: scaleY(1);
                transform: scaleY(1);
    }
    .navigation__item {
        height: 20px;
        display: inline-block;
        margin: 5px 0;
    }
    .navigation__item::after {
        top: 100%;
    }
   
}
@media (max-width: 650px) {
    .nav__right .line,
    .brand-logo {
        display: none;
    }
    .menu {
        margin-left: unset;
    }
    .nav__right {
        margin-left: auto;
    }
   
}




/* section 1 */
@media (max-width: 1400px) {
    .hero__slide-content h2 {
        font-size: 40px;
    }
}
@media (max-width: 1200px) {
    #hero {
        position: relative;
    }
    .hero__slider {
        width: calc(100% - 80px);
    }
    .hero__slider-counter {
        top: 47%;
        left: calc(100% - 80px);
        height: 180px;
        width: 80px;
    }
    .hero__slide-content {
        padding: 0 50px;
    }
    .hero__slide-content h2 {
        font-size: 36px;
    }

    .hero__bottom {
        width: 20%;
    }
    .hero__bottom button {
        margin-left: 10%;
    }
}
@media (max-width: 1000px) {
    .hero__slider-counter {
        display: none;
    }
    .hero__slider-slide img {
        height: 750px;
    }
    .hero__slider {
        width: 100%;
    }
    .hero__bottom {
        width: 190px;
    }
}
@media (max-width: 730px)  {
    #hero {
        margin-bottom: 90px;
    }
    .hero__slider-slide img {
        height: 510px;
    }
    .hero__slide-content h2 {
        margin: 130px 0 40px;
        font-size: 30px;
    }
    .hero__bottom {
        display: none;
    }
    .hero__slide-content a {
        font-size: 15px;
    }
    .hero__slide-content {
        padding: 0 40px;
    }
    #hero__slider-two .hero__slide-content h2 {
        font-size: 32px;
    }
}


/* section  2*/
@media (max-width: 1000px) {
    .partners__grid {
        -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
    }
    .partners__grid.half .partners__link:nth-of-type(n+5) {
        max-height: 0px;
        overflow: hidden;
        -webkit-transition: .5s ease;
        -o-transition: .5s ease;
        transition: .5s ease;
        opacity: 0;
    }
    .partners__btn {
        font-size: 15px;
        line-height: 55px;
    }
}
@media (max-width: 860px)  {
    .partners__grid {
        -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    }
    .partners__link {
        height: 180px;
    }
    .partners__grid.half {
        margin-bottom: -20px;
    }
   
}
@media (max-width: 600px) {
    .partners__grid,
    .partners__link {
        display: block;
    }
    .partners__link {
        margin-bottom: 20px;
        height: 150px;
    }
    .partners__grid.half .partners__link:nth-of-type(n+4) {
        max-height: 0px;
        overflow: hidden;
        -webkit-transition: .5s ease;
        -o-transition: .5s ease;
        transition: .5s ease;
        opacity: 0;
    }
    .partners__grid.half {
        margin-bottom: -80px;
    }
    .partners__btn {
        line-height: 50px;
        border-radius: 15px;
    }
}

/* section  3 */
    /* card slider for all similar slider*/
    @media (max-width: 1040px) {
        .card__slide-content {
            visibility:  visible;
            opacity: 1;
            background-color: rgba(0, 0, 0, 0.3);
    }
    @media (max-width: 840px) {
        .slide-card__wrapper-text {
            width: 200px;
        }
        .card-slider {
            width: calc(100% - 230px);
        }
    }
    @media (max-width: 550px) {
        .slide-card__wrapper {
            -ms-flex-wrap: wrap;
                flex-wrap: wrap;
        }
        .slide-card__wrapper-text,
        .card-slider {
            width: 100% ;
        }
        .card-slider {
            -webkit-box-ordinal-group: 3;
                -ms-flex-order: 2;
                    order: 2;
        }
        .slide-card__wrapper-text {
            margin-bottom: 30px;
        }
        .slide-card__wrapper-text p {
            max-width: unset;
        }
        .slide-card__wrapper-text a {
            margin-top: 20px;
            border-radius: 18px;
            line-height: 34px;
        }
    }
}


/* section  4 */
    /* card slider*/

/* section  5 */
@media (max-width: 1000px) {
    .new-catalogue__left,
    .new-catalogue__right {
        width: 48%;
    }
    .new-catalogue__left-img {
        width: 85%;
        height: 500px;
    }
    .catalogue-bg {
        left: 0;
    }
    .new-catalogue__right h2 {
        font-size: 38px;
        margin: 15px 0 30px;
    }
}
@media (max-width: 740px) {
    .new-catalogue__left,
    .new-catalogue__right {
        width: 100%;
    }
    #new-catalogue .container {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    }
    .new-catalogue__left {
        -webkit-box-ordinal-group: 3;
            -ms-flex-order: 2;
                order: 2;
        margin-top: 20px;
    }
    .catalogue-bg {
        top: 5%;
        left: 3%;
    }
    .new-catalogue__right h2 {
        font-size: 26px;
        max-width: unset;
        margin: 10px 0 15px;
    }
    .new-catalogue__link {
        line-height: 44px;
        border-radius: 10px;
        width: 100%;
        max-width: 340px;
        margin-top: 30px;
    }
    .new-catalogue__link svg {
        height: 30px;
        width: auto;
    }
    .new-catalogue__left-img {
        width: 85%;
        height: 320px;
    }
}


/* section  6 */
@media (max-width: 1040px) {
    .showers__slide-overlay {
        visibility: visible;
        opacity: 1;
        background-color: rgba(0, 0, 0, 0.32);
    }
}
@media (max-width: 900px) {
    .showers__left,
    .showers__slider {
        width: 100%;
    }
    .showers__left {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        margin-bottom: 30px;
    }
    .showers-bg {
        display:none;
    }
    .showers__left p {
        margin-top: 0;
        margin-right: 10px;
    }
    .showers__left h2 {
        font-size: 26px;
        margin-top: 0px;
        max-width: unset;
    }
    #showers .container {
        display: block;
    }
}

@media (max-width: 600px) {
    #showers {
        padding: 35px 0 30px;
    }
    .showers__left {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
            margin-bottom: 10px;
    }
    .showers__left h2 {
        font-size: 20px;
        margin-top: 0px;
        max-width: unset;
    }
    .showers__left p {
        text-align: right;
        width: 100px;
       margin-left: auto;
       margin-right: 0;
    }
}

/* section  7 */
    /* card slider*/

/* section  8 */
@media (max-width: 1150px) {
    .video-modal__wrap video {
        height: 80vh;
    }
}
@media (max-width: 850px) {
    .choose-video__left {
        width: 100%;
    }
    .choose-video__left h2 {
        max-width: unset;
        font-size: 32px;
    }
    .choose-video__right {
        display: none;
    }
}

/* section  9 */
    /* card slider*/

/* section  10 */
@media (max-width: 1000px) {
    .find-us__galery,
    .find-us__right {
        width: 48%;
    }
    .find-us__col:nth-of-type(2) {
        display: none;
    }
    .find-us__col {
        width: 100%;
    }
    .find-us__top {
        padding: 30px;
    }
    .find-us__top h2 {
        font-size: 26px;
        margin-top: 55px;
        max-width: 220px;
    }
    .find-us__top p,
    .find-us__right h4 {
        margin-top: 50px;
    }
    .find-us__right h2 {
        margin: 32px 0;
        font-size: 32px;
    }
}
@media (max-width: 680px) {
    #find-us .container {
        display: block;
    }
    .find-us__galery,
    .find-us__right {
        width: 100%;
    }
    .find-us__galery {
        margin-bottom: 30px;
    }
    .find-us__right h4,
    .find-us__right h2 {
        display: none;
    }
    
    .find-us__top h2 {
        font-size: 24px;
        margin: 25px 0 10px;
    }
    .find-us__top h4 {
        font-size: 18px;
    }
    .find-us-img.left {
        padding-left: 0px;
    }
}


/*  footer   */
@media (max-width: 1130px) {
    #footer .container {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    }
    .footer-col{
        width: 40%;
        margin: 0  auto 25px;
    }
}
@media (max-width: 900px) {
    .footer-map {
        width: 100%;
    }
}
@media (max-width: 750px) {
    #footer {
        padding: 30px 0 20px;
    }
    .footer-col{
        width: 100%;
        max-width: 400px;
        text-align: center;
    }
    .footer__paragph {
        margin: 25px auto 0; 
        max-width: 95%;
    }
    .footer__p {
        margin: 0 auto 20px; 
        max-width: 80%;
    }
    .footer__nav a::after {
        display: none;
    }
    .footer__nav a:hover {
        text-decoration: underline;
    }
}


            /*  products.html   */

/*  section 1   */
@media (max-width: 1000px) {
    #catalogue-main {
        margin-top: 80px;
    }
    .catalogue-hero__title {
        text-align: center;
        font-size: 26px;
    }
    .catalogue__grid {
        -ms-grid-columns: 1fr 9px 1fr 9px 1fr;
        grid-template-columns: repeat(3, 1fr);
        row-gap: 10px;
        -webkit-column-gap: 9px;
           -moz-column-gap: 9px;
                column-gap: 9px;
    }
    .catalogue__item {
        height: 230px;
    }
    .catalogue__content {
        opacity: 1;
        text-align: center;
        background-color: rgba(0, 0, 0, 0.3);
    }
}

@media (max-width: 730px) {
    #catalog-modal {
        background-color: rgba(0, 0, 0, 0.8);
    }
    .catalogue__tabs {
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: 1fr 5px 1fr;
        grid-template-columns: 1fr 1fr;
        gap: 5px;
    }
    .catalogue__tab {
        margin: 0;
        padding: 0px;

    }
    .catalogue__grid {
        -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    }
    .catalogue__item {
        height: 200px;
    }
}


            /*   contact.html   */
            
/*  section 1   */
@media (max-width: 1000px) {
    #multypage-hero {
        margin-top: 80px;
    }
    .multypage-hero__title {
        padding: 30px 0 8px;
        font-size: 26px;
    }
}
/*  section 2  main */
@media (max-width: 750px) {
    #contact-main {
        padding: 5px 0 20px;
    }
    .contact-main__left,
    .contact__form {
        width: 100%;
    }
    .contact-main__left {
        -webkit-box-ordinal-group: 3;
            -ms-flex-order: 2;
                order: 2;
    }
    .contact__form {
        margin-top: 30px;
    }
}


            /*   about.html   */
            
/*  section 1   */

/*  section 2   */
@media (max-width: 850px)  {
    .about-us__info-line .container {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    }
    .about-us__info-line .contact__icon-box {
        width: 100%;
        margin: 10px auto;
    }
}





/* custom MODAL sliders   for page sliders */

.modal-slider.visible {
    visibility: visible;
    opacity: 1;
}
.modal-slider {
    position: fixed;
    visibility: hidden;
    opacity: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(24, 24, 24, 0.8);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    z-index: 200;
    -webkit-transition: .7s;
    -o-transition: .7s;
    transition: .7s;
}
.modal-slider__slides {
    max-width: 90%;
    max-height: 90%;
    -webkit-transition: .6s;
    -o-transition: .6s;
    transition: .6s;
    position: relative;
}
.modal-slider__slides .close {
    position: absolute;
    top: -25px;
    right: -25px;
    height: 50px;
    border-radius: 50%;
    width: 50px;
    font-size: 34px;
    font-weight: bold;
    color: #474747;
    background-color: #fff;
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border: 4px solid #474747;
}
.modal-slider__slides .close span {
    margin-top: -9px;
    -webkit-transition: .6s;
    -o-transition: .6s;
    transition: .6s;
}
.modal-slider__slides .close:hover span {
    color: red;
}
.modal-slider__slides button {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    width: 50px;
    height: 50px;
    background-color: #000;
    border: 1px solid transparent;
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transition: .4s;
    -o-transition: .4s;
    transition: .4s;
}
.modal-slider__slides button:hover {
    background-color: #fff;
    border: 1px solid #000;
}
.modal-slider__slides button:hover svg {
    fill: #000;
}
.modal-slider__slides button svg {
    width: 10px;
    height: auto;
    -webkit-transition: .4s;
    -o-transition: .4s;
    transition: .4s;
    fill: #fff;
}
.modal-btn-left {
    left: -25px;
}
.modal-btn-right {
    right: -25px;
}

.modal-slider__slides img.shown {
    display: block;
}

.modal-slider__slides img {
    display: none;
    width: auto;
    height: 100%;
    max-height: 90vh;
    -o-object-fit: contain;
    object-fit: contain;
    border-radius: 24px;
}



@media (max-width: 800px)  {
    .modal-slider__slides {
        max-height: 85%;
    }
    .modal-slider__slides .close {
        position: absolute;
        right: -19px;
        height: 45px;
        width: 45px;
        font-size: 29px;
    }
    .modal-slider__slides button {
        height: 40px;
        width: 40px;
    }
    .modal-btn-left {
        left: -20px;
    }
    .modal-btn-right {
        right: -20px;
    }

    .modal-slider__slides {
        height: -webkit-max-content;
        height: -moz-max-content;
        height: max-content;
    }

    .modal-slider__slides img {
        max-height: 85vh;
        height: unset;
        border-radius: 18px;
    }
}